.navbar {
    width: 100%;
    height: 100%;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
    justify-content: center;
    margin-top: rem(20px);
    width: 100%;
}